{
    "plugins": [
        "stylelint-selector-bem-pattern"
    ],
    "extends": ["stylelint-config-recommended-scss"],
    "rules": {
        "selector-class-pattern": null,
        "color-named": "never",
        "function-disallowed-list": ["rgb"],
        "plugin/selector-bem-pattern": {
            "preset": "bem",
            "componentName": "[a-z]+"
        },
        "declaration-empty-line-before": null,
        "no-descending-specificity": true,
        "no-duplicate-selectors": true,
        "block-no-empty": true,
        "selector-pseudo-class-allowed-list": ["hover", "before", "has", "is"]
    },
    "implicitComponents": true
}
