* {
  box-sizing: border-box;  
}

body {
  font-size: 15px;
  font-family: $main-font;
  color: #595959;
  margin: 0px;
  font-weight: 100;
}

/** @define header */

.header{
  background-image: url('../images/fondo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  
  min-height: 160px;
  padding: 20px;
  text-align: center;  
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;

  &__title{
    color: $contrast-color;
    font-family: $other-font;
  
    @media (min-width: $mqMinWidth) {
        font-size: 2rem;
    }
  }
  margin-bottom: 4rem;
  box-shadow: 0 6px 10px -6px $main-color;
}

/** @define nav */

.nav{
  &__list{
    list-style: none; 
  }
  &__item{
    display: inline;
  }
  &__link{
    color: $contrast-color;
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    
    &--active{
      text-decoration: solid;
    }
  } 
}

/** @define container */

.container {
  max-width: 75%;
  margin: 0 auto;
}

/** @define titles */
.titles{
  font-family: $other-font;
  &--t2{
    font-size: 35px;
    color: $main-color;
  }
  &--t3{
    font-size: 30px;
    color: $sub-color;
  }
}

/** @define cita */
.cita{
  border-left: 3px solid $main-color;
  margin-top: 2em;
  padding-left: 1em;
  margin-left: 20%;
  text-align: right;
  font-size: 14px;
  font-style: italic;
  color: #000000d2;
  font-weight: 300;
}

/** @define type */

.type{
  list-style: none;
  padding: 0;
  text-align: justify;
  &__item{
    line-height: 2;
  }
  &__term{
    text-transform: uppercase;
    font-weight: 600;
  }
}

/** @define dl */

.dl{
  display: inline-block;
  
  &__dt{
    float: left;
    text-align: center;
    width: 30%;
    clear: left;
    margin: 0.7rem;
    padding: 0.5rem;
  }
  &__dt-span{
    color: $main-color;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  &__dt-img{
    width: 100%;
    padding-top: 10px;
    border-radius: 5px;
  }

  &__dd{
    float: left;
    width: 60%;
    padding: 1rem;
    margin: 1.2rem;
  }
}


/** @define card */

.card{
  width: 100%;
  max-width: $mqMinWidth;
  margin: 2em auto;
  box-shadow: 0 6px 10px -5px $main-color;
  border-radius: 5px;

  &__img{
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      width: 100%;
  }
  &__body{
      padding: 10px;
  }
  
  &__title{
      color: $sub-color;
      text-transform: uppercase;   
      font-family: $main-font;
      font-size: 20px;
  }

  &__end{
      text-align: right;
      padding: 10px;
      background-color: $bg;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
  }

  &__icon{
      color: $contrast-color;
  }
}

/** @define biblio */

.biblio{
  list-style: none;
  padding: 0;

  &__item{
    border: 1px solid $secondary-color;
    border-radius: 5px;
    display: inline-flex;
    margin: 5px 0;
  }
  &__link{
    text-decoration: none;
    color: #000000;
    padding: 10px;
  }
}

/** @define footer */

.footer{
  margin-top: 4rem;
  color: $contrast-color;
  background-color: $main-color;
  text-align: center;  
  padding: 1rem;
}