* {
  box-sizing: border-box;  
  font-family: $main-font;
}

body {
  font-size: 15px;
  color: rgb(71, 71, 71);
  margin: 0px;
  font-weight: 100;
}

.header{
  background-image: url('../images/fondo.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  
  min-height: 160px;
  padding: 20px;
  text-align: center;  
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;

  &__title{
    color: $contrast-color;
  
    @media (min-width: $mqMinWidth) {
        font-size: 2rem;
    }
  }
  margin-bottom: 4rem;
  box-shadow: 0 6px 10px -6px $main-color;// rgba(0, 0, 0, 0.2);
}

.nav{
  &__list{
      list-style: none;
      &__item{
          display: inline;
          & a{
          color: $contrast-color;
          text-decoration: none;
          padding: 5px;
          cursor: pointer;
          }
      }
  }
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

h2{
  font-size: 35px;
  color: $main-color;
  font-family: $other-font;
}

h3{
  font-size: 30px;
  color: $sub-color;
  font-family: $other-font
}

blockquote{
  border-left: 3px solid $secondary-color;
  padding-left: 1em;
  margin-left: 20%;
  text-align: right;
  font-family: 'Fuggles', cursive;
  font-size: 2rem;
}

.type{
  list-style: none;
  padding: 0;
  text-align: justify;
  &__item{
    line-height: 2;
    & b{
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}
.dl{
  display: inline-block;
  
  &__dt{
    float: left;
    text-align: center;
    width: 30%;
    clear: left;
    margin: 0.7rem;
    padding: 0.5rem;
    
    &__span{
      color: $main-color;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
    }
    
    &__img{
      width: 100%;
      padding-top: 10px;
      border-radius: 5px;
    }
   
  }

  &__dd{
    float: left;
    width: 60%;
    padding: 1rem;
    margin: 1.2rem;
  }
}


//CARDS
.card{
  width: 100%;
  max-width: $mqMinWidth;
  margin: 2em auto;
  box-shadow: 0 6px 10px -5px $main-color;// rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  &__img{
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      width: 100%;
  }
  &__body{
      padding: 10px;
  }
  
  &__title{
      color: $sub-color;
      text-transform: uppercase;   
      font-family: $main-font;
      font-size: 20px;
  }

  &__end{
      text-align: right;
      padding: 10px;
      background-color: $bg;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
  }

  &__icon{
      color: $contrast-color;
  }
}

.biblio{
  list-style: none;
  padding: 0;

  &__item{
    border: 1px solid $secondary-color;
    border-radius: 5px;
    display: inline-flex;
    margin: 5px 0;

    & a{
      text-decoration: none;
      color: black;
      padding: 10px;
    }
  }
}


.footer{
  margin-top: 4rem;
  color: $contrast-color;
  background-color: $main-color;
  text-align: center;  
  padding: 1rem;
}