<div id="aboutUs" class="aboutUs">
    <h2>Sobre Nosotros</h2>
    <p>
        ¡Bienvenido a nuestra página de tenis!
        En nuestro rincón virtual, estamos comprometidos con la promoción de un estilo de vida activo y saludable, proporcionando no solo lecciones de tenis de alta calidad, sino también una variedad de actividades extraescolares que enriquecerán la vida de tus hijos.
    </p>
    <h3>Nuestra Historia:</h3>
    <p>
        Somos un grupo de amigos apasionados por el tenis que queriamos crear un entorno donde los amantes del tenis de todas las edades se reunan para aprender, competir y, lo más importante, divertirse. 
    </p>
    <p><b>Ofrecemos:</b>
        <ul>
            <li>Ofrecemos lecciones de tenis adaptadas a todas las edades y niveles de habilidad. </li>
            <li>variedad de actividades extraescolares diseñadas para nutrir los
                talentos y habilidades de tus hijos. Desde eventos temáticos divertidos hasta programas de desarrollo juvenil, 
                cada actividad está diseñada para fomentar el crecimiento integral y la diversión
            </li>
            <li>
                Nos consideramos más que un simple club de tenis; somos una comunidad unida que comparte la alegría del deporte 
            </li>
        </ul>
    </p>
    <p>
        Te invitamos a explorar todo lo que nuestra página de tenis tiene para ofrecer.
        Ya sea que busques mejorar tus habilidades tenísticas, participar en emocionantes torneos o simplemente
        disfrutar de la compañía de personas apasionadas por el deporte, ¡has llegado al lugar correcto!
    </p>
 </p>
</div>