<div id="actividades" class="actividades">
    <h2>Actividades</h2>
    <p>A continuación se muestra una lista de las actividades que se realizan en el club. Animate e inscríbete!</p>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Actividad</th>
              <th>Días</th>
              <th>Horario</th>
              <th>Lugar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tenis Junior</td>
              <td>Lunes y Miércoles</td>
              <td>16:00 - 18:00</td>
              <td>Cancha de Tenis 1</td>
            </tr>
            <tr>
              <td>Clases preparación</td>
              <td>Martes y Jueves</td>
              <td>17:30 - 19:00</td>
              <td>Cancha de Tenis 2</td>
            </tr>
            <tr>
              <td>Torneo de Tenis Amistoso</td>
              <td>Sábado</td>
              <td>10:00 - 14:00</td>
              <td>Canchas de Tenis</td>
            </tr>
            <tr>
                <td>Iniciación</td>
                <td>Sábado</td>
                <td>10:00 - 14:00</td>
                <td>Canchas de Tenis 2</td>
              </tr>
          </tbody>
      </table>
</div>