<div id="articulo" class="article">
  <h2>Artículos</h2>
  <article class="article__content">
      <div class="article__content__title">
        <p class="display-5">¡Únete a la emoción del tenis!</p>
        <p><small><time datetime="2023-12-06">6 de diciembre de 2023</time></small></p>
        <p><b>by Claudia Balarezo Quiroz</b></p>
      </div>
      
      <div class="article__content__col">
        <div class="article__content__col--c1">
          <figure class="text-end">
            <blockquote class="blockquote article__quote">
              <p>"El tenis es más que solo un juego. Es una lección de vida. Con cada partido, aprendemos no solo a golpear una pelota, sino a manejar el éxito y la derrota con gracia y determinación."</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Billie Jean King
            </figcaption>
          </figure>
        </div>
        <div class="article__content__col--c2">
          <p>Experimenta la pasión por el tenis en nuestro club, donde la competencia se fusiona con la camaradería. Desde jugadores novatos hasta expertos, todos encuentran un lugar en nuestra cancha para perfeccionar sus habilidades y compartir risas con amigos. En nuestro club cada raqueta es una historia y 
          cada punto una oportunidad para crecer como jugador y como parte de nuestra comunidad.</p>
        </div>
      </div>

      <p>Únete a nosotros y descubre el placer de jugar tenis en un ambiente cargado de alegria, energía y amistad. Algunas de las ventajas que te ofrecemos:</p>

      <hr>
      <div>
        <ul class="article__lista">
            <li class="article__lista__item"><b class="article__negrita">Lecciones para todos los niveles</b><br>Desde principiantes hasta jugadores avanzados. Las lecciones están diseñadas para mejorar tus habilidades.</li>
            <li class="article__lista__item"><b class="article__negrita">Torneos emocionantes</b><br>Participa en nuestros torneos. Demuestra tus habilidades y compite por premios increíbles!</li>
            <li class="article__lista__item"><b class="article__negrita">Ambiente amigable</b><br>Organizamos eventos sociales donde todos los miembros pueden relacionarse y disfrutar!</li>
            <li class="article__lista__item"><b class="article__negrita">Programa de desarrollo juvenil</b><br>Fomentamos el crecimiento integral de nuestros miembros más jovenes, no solo en el tenis sino también en valores.</li>
            <li class="article__lista__item"><b class="article__negrita">Descuentos especiales para familias</b><br>Ofrecemos descuentos especiales para que más niños se unan a nuestra comunidad.</li>
        </ul>
      </div>
      <hr>

      <p class="display-6">Descubre una amplia variedad de actividades diseñadas para todos los niveles, desde lecciones 
        para principiantes hasta torneos que desafiarán a los jugadores más expertos.</p>
      <p>En nuestro club, el tenis no es solo un deporte; es una comunidad apasionada donde cada miembro es parte de una historia más grande. ¡Únete a nosotros y descubre el placer de jugar tenis en un ambiente lleno de amistad! 
        El equipo de entrenadores esta listo para guiarte en todo momento ayudandote a lograr tus metas.</p>
      <p>Participa en nuestro siguiente torneo: </p>
      <div class="text-center">
        <img src="./assets/images/torneo.jpg" class="article__content__image" alt="Torneo diciembre">
      </div>

    </article>
</div>