<section id="biblio">
    <h2 class="titles titles--t2">Bibliografía</h2>
    <p>Las imagenes han sido obtenidas de los siguientes enlaces:</p>
    <ul class="biblio">
        <li class="biblio__item"><a class="biblio__link" href="https://image.thecrag.com/original-image/e2/7e/e27e2d449cee759e6498f83e484e876224eddc54">Calvia</a></li>
        <li class="biblio__item"><a class="biblio__link" href="https://image.thecrag.com/original-image/2f/ab/2fabbc8ff9bb28d0ce732aab319524eba203fc5d">Sa gubia</a></li>
        <li class="biblio__item"><a class="biblio__link" href="https://image.thecrag.com/original-image/a8/43/a84342a4916d43994c0b2fb00a31725d805ff6d2">Fraguels</a></li>
        <li class="biblio__item"><a class="biblio__link" href="https://image.thecrag.com/original-image/bb/ab/bbab8562b4151afa0fe295eeb653d48d8f98d562">Valldemossa</a></li>
        <li class="biblio__item"><a class="biblio__link" href="https://es.wikipedia.org/wiki/Arnés_(escalada)#/media/Archivo:Kong_-_roger.jpg">Árnes</a></li>
        <li class="biblio__item"><a class="biblio__link" href="https://es.wikipedia.org/wiki/Pies_de_gato_(calzado)#/media/Archivo:Five_Ten_Anasazi_Verde.jpg">Pies de gato</a></li>
        <li class="biblio__item"><a class="biblio__link" href="https://es.wikipedia.org/wiki/Mosquetón#/media/Archivo:Carabiner.png">Mosquetón</a></li>
        <li class="biblio__item"><a class="biblio__link" href="https://es.wikipedia.org/wiki/Carbonato_de_magnesio#/media/Archivo:Chalked_Hands.jpg">Magnesio</a></li>
        <li class="biblio__item"><a class="biblio__link" href="https://upload.wikimedia.org/wikipedia/commons/a/a6/Kernmantle_climbing_rope_dynamic_Sterling_10.7mm_internal_yarns.jpg">Cuerda</a></li>
        <li class="biblio__item"><a class="biblio__link" href="https://upload.wikimedia.org/wikipedia/commons/d/d1/Zekeringsapparaten.jpg">Asegurador</a></li> 
    </ul>
</section>