<div id="inscribete" class="formulario">
    <h2 >Inscríbete en el club!</h2>
    <p>Estamos emocionados de que hayas decidido unirte a nuestra comunidad de amantes del tenis. 
            Queremos conocerte mejor y asegurarnos de que tu experiencia en la cancha sea tan única como tú. 
            Completa este formulario ¡y prepárate para una nueva aventura! </p>
    <div>
        <form class="m-5 formulario__form" name="contact" netlify>
            <div class="mb-3">
                <label for="name" class="form-label">Nombre y apellidos</label>
                <input type="text" class="form-control" id="name" aria-describedby="name" name="name">
            </div>
            <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"  name="email">
            </div>
            <div class="mb-3">
                <label for="aboutyou" class="form-label">Cuentanos sobre ti y tu experiencia con el tenis</label>
                <textarea class="form-control" id="aboutyou" rows="6"  name="aboutYou"></textarea>
            </div>
            <div class="mb-3"
            <label for="exampleFormControlTextarea2" class="form-label">Categoria:</label>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="infantil" id="infantil"  name="Infantil">
                <label class="form-check-label" for="infantil" >
                Infantil
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Juvenil" id="Juvenil" name="Juvenil">
                <label class="form-check-label" for="Juvenil">
                Juvenil
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Adulto" id="Adulto" name="Adulto">
                <label class="form-check-label" for="Adulto">
                Adulto
                </label>
            </div>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>