<footer class="footer sticky-bottom">
    <hr>
    <div class="footer__first">
        <ul class="footer__first__ul">
            <li>(+34) 657-956783</li>
            <li><a href="mailto:info@t-nis.com?Subject=Info">info@t-nis.com</a></li>
            <li><b>HORARIO</b><ul class="footer__first__horario"><li>Lunes a Viernes: 9h - 19h</li><li>Sabado: 10h - 19h</li><li>Domingo: Cerrado</li></ul></li>
        </ul>
    </div>
    <div class="footer__second"> 
        <img class="footer__second__logo" src="./assets/images/logoT3.png"/>
        <nav class="navbar navbar-light m-2 ">
            <div class="container-fluid ">
              <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#members">Miembros</a>
                <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#activities">Actividades</a>
                <a class="py-2 link-body-emphasis text-decoration-none" href="#inscribete">Inscríbete</a>
              </nav>
            </div>
          </nav>
        <div class="footer__second__rrss">
            <a href="https://www.facebook.com/?locale=es_ES"><img class="footer__second__rrss__ico" src="./assets/images/facebook.png"/></a>
            <a href="https://www.facebook.com/?locale=es_ES"><img class="footer__second__rrss__ico" src="./assets/images/google-mas.png"/></a>
            <a href="https://www.facebook.com/?locale=es_ES"><img class="footer__second__rrss__ico" src="./assets/images/twitter.png"/></a>
        </div>
    </div>
</footer>