
<div class="header">
    <h1 class="header__title">ESCALADA</h1>
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__list__item"><a href="#intro">Inicio</a></li>
            <li class="nav__list__item"><a href="#material">Materiales</a></li>
            <li class="nav__list__item"><a href="#sitios">Sitios</a></li>
            <li class="nav__list__item"><a href="#tipos">Tipos</a></li>
            <li class="nav__list__item"><a href="#biblio">Bibliografía</a></li>
        </ul>
      </nav>
     
</div>
