      <nav class="navbar navbar-light m-2 border-bottom sticky-top header ">
        <div class="container-fluid ">
          <img class="header__logo navbar-brand" src="./assets/images/logoT.png"/>
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#members">Miembros</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="#actividades">Actividades</a>
            <a class="py-2 link-body-emphasis text-decoration-none" href="#inscribete">Inscríbete</a>
          </nav>
        </div>
      </nav>
