<div class="portal">
    <a href="#actividades" class="portal__a--b1"> + Actividades</a>
    <a href="#inscribete" class="portal__a--b2">INSCRÍBETE</a>
    <div class="portal__title">
      <h1 class="portal__title__header">ACTIVIDADES DEPORTIVAS</h1>
    </div>
    <img class="portal__img"src="./assets/images/ninios.jpg" alt="Tenista">
    
    <div class="portal__content">
      <p>Nuestra pasión por el juego, nos hizo crear  esta liga para compartir momentos inolvidables en la pista con amigos.</p>
      <p> Aquí, cada partido es una historia compartida... risas, raquetas, amistad. </p>
      <p>¡Bienvenidos a nuestra comunidad!</p>
      <a href="#aboutUs"><i class="fa-regular fa-circle-info" style="color: #ffffff;"></i></a>
    </div>    
</div>