<h2 id="intro"></h2>
<p>
    Te gusta la adrenalina y las emociones fuertes? Entonces la <strong>escalada</strong> es tu deporte.
</p>
<p>
    En mallorca la escalada de un deporte bastante popular que cuenta con sitios para practicar la escalada de distintos niveles de dificultad.
</p>
<p>
    En la isla se pueden practicar distintos tipos de escalada, como por ejemplo la escalada deportiva (usa anclajes fijados a la pared colocados a lo largo de la vía), el psicobloc (Escalada sin cuerdas sobre el mar) y la escalada clásica (el primero en escalar va añadiendo los seguros en los anclajes naturales como árboles, puntas de las rocas, etc.).
</p>
<blockquote cite="https://materialdeescalada.com/blog/frases-de-escalada-y-montana/">No importa cuan difícil sea la cumbre a escalar, ni cómo te sentirás cuando estes arriba. Lo verdaderamente importante, es el camino que recorreras para lograrlo. No siempre lo conseguiras, pero nadie te podrá quitar lo que has vivido</blockquote>
