<h2 id="material">Materiales</h2>
<p>Los materiales varian dependiendo del <a href="#tipos">tipo</a> de escalada que vas a realizar. En esta web nos centramos en la escalada deportiva.
    A continuación listamos los materiales que creemos que son necesarios:
</p>
<h3>¿Que necesitas para realizar escalada?</h3>
<dl class="dl"> 
   	<dt class="dl__dt">
        <span class="dl__dt__span">Pies de gato</span>
        <img class="dl__dt__img"  src="./assets/images/piesgato.jpg" alt="Imagen pies de gato" /> 
    </dt>
   	<dd class="dl__dd">
        Facilitan la adherencia a la roca, son muy flexibles y ligeras.
        Cuanto mayor es la adherencia de los pies de gato a la roca menor es el trabajo que realizan los brazos y las manos.
        Hay muchos artículos por internet que te ayudan a elegir que tipo de pies de gato necesitas según el tipo de escalada.
    </dd>
   	<dt class="dl__dt">
        <span class="dl__dt__span">Arnés</span>
        <img class="dl__dt__img"  src="./assets/images/arnes.jpg" alt="Imagen Arnes" /> 
    </dt> 
   	<dd class="dl__dd">
        Es un elemento de seguridad que nos ata a la cuerda de seguridad, nos proporciona estabilidad y ayuda a evitar minimizar los daños frente a una caida.
        El arnés es un cinturón con unos aros en la parte superior del muslo.
    </dd>
    <dt class="dl__dt">
        <span class="dl__dt__span">Mosquetones</span>
        <img class="dl__dt__img"  src="./assets/images/mosquetón.png" alt="Imagen Mosquetones" /> 
    </dt>
    <dd class="dl__dd">
        Es un grillete que se usa como sistema de seguridad. Es un grillete que se usa como sistema de seguridadEs un grillete que se usa como sistema de seguridadEs un grillete que se usa como sistema de seguridad
    </dd>
    <dt class="dl__dt">
        <span class="dl__dt__span">Cuerda</span>
        <img class="dl__dt__img"  src="./assets/images/cuerda.jpg" alt="Imagen Cuerda" /> 
    </dt>
    <dd class="dl__dd">
        Para la escalada deportiva se usan cuerdas dinámicas simples. Cada cuerda solo se puede usar para lo que está homologada (factor de caída, choque, etc.), de esta forma aseguraremos de forma correcta.
    </dd>
    <dt class="dl__dt">
        <span class="dl__dt__span">Asegurador - descensor</span>
        <img class="dl__dt__img"  src="./assets/images/asegurador.jpg" alt="Imagen Asegurador" /> 
    </dt>
    <dd class="dl__dd">
        Se usan para controlar la cuerda durante el aseguramiento y ayudan a frenar la cuerda en caso de caída.
    </dd>
    <dt class="dl__dt">
        <span class="dl__dt__span">Magnesio</span>
        <img class="dl__dt__img"  src="./assets/images/magnesio.jpg" alt="Imagen Magnesio" /> 
    </dt>
    <dd class="dl__dd">
        Se usa para evitar que las manos suden y se agarren mejor a la roca.
    </dd>
</dl>
<p>Existen más materiales pero la lista solo muestra los impresindibles.</p>
