<div id="members">
    <h2>Lista de miembros</h2>
    <div class="cards">
        <div class="card">
            <img class="card__img" src="./assets/images/m5.jpg" alt="Foto miembro 1" />
            <div class="card__name">Carlos Aranda</div>
            <p class="card__content">
                El futuro prodigio del tenis. Pequeño en estatura pero grande en talento. Cada juego es una nueva aventura!.
        </div>
        <div class="card">        
            <img class="card__img" src="./assets/images/m2.jpg" alt="Foto miembro 2"/>
            <div class="card__name">Ana Calderón</div>
            <p class="card_content">
                Con experiencia y pasión. ¡El tenis es mi segunda naturaleza!"
            </p>
        </div>
        <div class="card">
            <img class="card__img" src="./assets/images/m4.jpg" alt="Foto miembro 3"/>
            <div class="card__name">Roberto Salas</div>
            <p class="card_content">
                El guerrero incansable en la pista. ¡Un espíritu indomable!
                </p>
        </div>
        <div class="card">
            <img class="card__img" src="./assets/images/m1.jpg" alt="Foto miembro 1"/>
            <div class="card__name">Yoel Ramos</div>
            <p class="card_content">
                Dominando la cancha con cada golpe. ¡Un verdadero maestro en el arte del tenis!</p>
            </p>
        </div>
        <div class="card">
            <img class="card__img" src="./assets/images/m3.jpg" alt="Foto miembro 1"/>
            <div class="card__name">Zara Valle</div>
            <p class="card_content">
                Con una sonrisa contagiosa y un juego lleno de energía. ¡Un as en ascenso!</p>
        </div>
        <div class="card">
            <img class="card__img" src="./assets/images/m6.jpg" alt="Foto miembro 1"/>
            <div class="card__name">Cristina Torreón</div>
            <p class="card_content">
                ¡El futuro del tenis está aquí! Pequeña pero poderosa, conquistando la cancha con cada golpe.
            </p>
        </div>
    </div>
</div>