<h2 id="sitios">Sitios</h2>
<div class="cards">
    <div class="card">
        <img class="card__img"  src="./assets/images/calvia.jpg" alt="Imagen escalada calvia" />
        <div class="card__body">
            <h3 class="card__title">Calvià</h3>
            <p class="card__info">Un sitio ideal para los escaladores principiantes. 
                Ubicado al sur de la Sierra Tramuntana cuenta con vías de tipo deportivo.</p>
        </div>
        <div class="card__end">
            <a href="https://www.thecrag.com/es/escalar/spain/mallorca/area/763844493"><i class="fa-solid fa-mountain fa-beat-fade fa-xl card__icon" ></i></a>
        </div>
    </div>

    <div class="card">
        <img class="card__img" src="./assets/images/sagubia.jpg" alt="Imagen escalada Sa Gubia"  />
        <div class="card__body">
            <h3 class="card__title">Sa Gubia</h3>
            <p class="card__info">
                Ubicado en Bunyola, cuenta con zonas de diferentes niveles de dificultad por lo que es genial para escaladores principiantes e intermedios.</p>
        </div>
        <div class="card__end">
            <a href="https://www.thecrag.com/es/escalar/spain/mallorca/sa-gubia"><i class="fa-solid fa-mountain fa-beat-fade fa-xl card__icon" ></i></a>
        </div>
    </div>

    <div class="card">
        <img class="card__img" src="./assets/images/fraguels.jpg" alt="Imagen escalada Fraguels"  />
        <div class="card__body">
            <h3 class="card__title">Fraguels</h3>
            <p class="card__info">
                Ubicado en Bunyola, cuenta con más de 60 vías diferentes. Es una de las zonas más conocidas para realizar escalada, pero esta más recomendado este sitio para escaladores intermedios con experencia.</p>
        </div>
        <div class="card__end">
            <a href="https://www.thecrag.com/es/escalar/spain/mallorca/fraguels"><i class="fa-solid fa-mountain fa-beat-fade fa-xl card__icon" ></i></a>
        </div>  
    </div>
    <div class="card">
        <img class="card__img" src="./assets/images/valldemoss.jpg" alt="Imagen escalada valldemossa" width="100%" />
        <div class="card__body">
            <h3 class="card__title">Valldemossa</h3>
            <p class="card__info">
        En la zona del puerto, hay 4 zonas para practicar escalada, la mayoria de ellas son placas verticales.</p>
        </div>
        <div class="card__end">
            <a href="https://www.thecrag.com/es/escalar/spain/mallorca/valldemossa"><i class="fa-solid fa-mountain fa-beat-fade fa-xl card__icon" ></i></a>
        </div>
    </div>
</div>