<h2 id="tipos">Tipos de escalada</h2>
<p>Hay diferentes tipos de escalada según en donde se realizan (roca, hielo, etc.), o según la metodología (libre, artificial, etc.). A continuación se detallan algunos tipos:</p>
<h3>En donde?</h3>
<ul class="type">
<li class="type__item"><b>En roca</b>: Se realiza en paredes de roca.</li>
<li class="type__item"><b>Hielo</b>: Se realiza sobre hielo o nieve.</li>
<li class="type__item"><b>Mixta</b>: Se realiza alternando tramos de hielo, nieve y roca.</li>
<li class="type__item"><b>Rocódromo</b>: Son paredes con presas artificiales que simulan los agarres naturales de la roca.</li>
</ul>
<h3>Tipos?</h3>
<ul class="type">
    <li class="type__item"><b>Alpina</b>: Es la que se realiza en alta montaña.</li>
    <li class="type__item"><b>Clásica</b>: Se realiza en paredes sin seguros. El primer escalador va añadiendo los diferentes seguros en zonas naturales y el último los va recogiendo.</li>
    <li class="type__item"><b>Deportiva</b>: Es escalada libre. Los escaladores instalan anclajes permanentes en la pared.</li>
    <li class="type__item"><b>En bloque</b>: En este tipo de escala se busca tener la mayor dificultad. Se realiza en rocas no demasiado altas o en las zonas inferiores. Como no hay demasiada altura, los escaladores no van atados a una cuerda sino usan colchonedas en el suelo.</li>
</ul>