@use "sass:color";

$main-font:  'Montserrat', sans-serif;
$other-font: 'Zeyada', cursive;

$bg: #3073a0cb;
$main-color: #315290;
$sub-color: #8b7660;
$secondary-color: #d5d5d5cb;
$contrast-color: #ffffff;


$mqMinWidth: 620px;
